/* Profile Image */
.profile-img {
  width: 260px;
  border-radius: 30px;
  object-fit: cover; 
  transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* Gallery Images */
.gallery-scroll img {
  height: 250px; 
  width: auto;   
  border-radius: 20px; 
  filter: grayscale(100%); 
  transition: 0.4s ease;
  flex-shrink: 0; 
  cursor: pointer;
}

.gallery-scroll img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}